li{
    list-style: none;
    padding:0 10px;
    margin-right: 20px;
}
li:hover{
    background-color: aqua;
}
a{
    text-decoration: none;
}
nav > ul{
    display: flex;
}
.dropdwon{
    display: none;
    position: absolute;
    background-color:cadetblue;
    padding: 0;
}
.dropdwon li{
    margin: 0;
}
nav > ul > li:hover > ul{
    display: block;
}